* {
    box-sizing: border-box;
}

.title {
    font-family: sans-serif monospace cursive;
    color: #404040;
}

.flash-card-container {
  display: flex;
  justify-content: center;
}

.flash-card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 300px;
    width: 600px;
    text-align: center;
}

.title-container {
  display: flex;
  justify-content: center;
}

.flash-card:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.flash-card-content {
    font-size: 50px;
    color: peru;
    padding-top: 10%;
}

.button-container {
    align-content: space-between;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.button:hover {
    background-color:#D8D8D8;
    cursor: pointer;
}

.card-count {
  padding: 0;
  border: none;
  background: none;
  margin-left: 20px;
  margin-right: 20px;
}



